<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <header>
            <div class="top">
                <div class="reports">
                    <p id="bold">Project Acess</p>
                    <p id="thin">Project Access</p>
                </div>
                <div class="options">
                    <div class="lens">
                      <img src="/assets/image/search.svg" alt="">
                    </div>
                    <div class="notify">
                      <img src="/assets/image/bell.svg" alt="">
                    </div>
                    <div class="logo">
                      <img src="/assets/image/Frame 94.png" alt="">
                    </div>
                    <div class="logout">
      
                      <a href="#">Logout</a>
                    </div>
      
                  </div>
            </div>
            </header>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div class="item">
          <p>Project Code<span>*</span></p>
          <select name="" id="">
            <option value="">Project Code</option>
          </select>
        </div>
      </div> 

      <div class="col-sm-12 col-md-6 col-lg-2">
        <div class="item">
          <p>Project Company <span>*</span></p>
          <select name="" id="">
            <option value="">Project Company</option>
          </select>
        </div>
      </div>
             
        
           <div class="col-sm-12 col-md-12 col-lg-3">
              <div class="btn">
                <button><a href="#"><mat-icon>arrow_forward</mat-icon></a></button>
              </div>
             </div>
             <div class="col-sm-12 col-md-12 col-lg-2">
         <div class="create">
          <button (click)="next('projectaccessone')">Create</button>
          
         </div>
             </div>
       
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="tableinfo">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Sno</th>
                      <th scope="col">Project Code</th>
                      <th scope="col">Project Company</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td></td>
                      <td></td>
                      
                      <td>
                        <img src="assets/image/eye.png" alt="">
                        <img src="assets/image/edit.png" alt="">
                      <img src="assets/image/delete.png" alt="">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td></td>
                      <td></td>
                    
                      <td>
                        <img src="assets/image/eye.png" alt="">
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td></td>
                      <td></td>
                   
                      <td>
                        <img src="assets/image/eye.png" alt="">
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td></td>
                      <td></td>
                     
                      <td>
                        <img src="assets/image/eye.png" alt="">
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td></td>
                      <td></td>
                   
                      <td>
                        <img src="assets/image/eye.png" alt="">
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                    <tr>
                      <th scope="row">6</th>
                      <td></td>
                      <td></td>
                    
                      <td>
                        <img src="assets/image/eye.png" alt="">
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                    <tr>
                      <th scope="row">7</th>
                      <td></td>
                      <td></td>
                    
                      <td>
                        <img src="assets/image/eye.png" alt="">
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                    <tr>
                      <th scope="row">8</th>
                      <td></td>
                      <td></td>
                    
                      <td>
                        <img src="assets/image/eye.png" alt="">
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                    <tr>
                      <th scope="row">9</th>
                      <td></td>
                      <td></td>
                    
                      <td>
                        <img src="assets/image/eye.png" alt="">
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                    <tr>
                      <th scope="row">10</th>
                      <td></td>
                      <td></td>
                    
                      <td>
                        <img src="assets/image/eye.png" alt="">
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                    <tr>
                      <th scope="row">11</th>
                      <td></td>
                      <td></td>
                     
                      <td>
                        <img src="assets/image/eye.png" alt="">
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                    <tr>
                      <th scope="row">12</th>
                      <td></td>
                      <td></td>
                    
                      <td>
                        <img src="assets/image/eye.png" alt="">
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
    </div>
</div>
