.top{
    display: flex;
    justify-content: space-between;
}
.options{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
#bold{
    color: #B18F04;
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
}
#thin{
    font-size: 12px;
    font-weight: 400;
    opacity: 50%;
}
#line{
    width: 5px;
    height: 1px;
    background-color: lightgray;
}
.logout a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 400;
}

.start{
   display: flex;
}
.selectsection{
    /* display: flex;
    justify-content: space-around;
    align-items: end; */
  
    padding: 10px;
  }
  .item p{
    color: black;
    font-size: 11px;
    font-weight: 400;
  }
  .item span{
    color: red;
  }
  .item select{
    border-color: #D7D7D7;
    padding: 4px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 50%;
    width: 100%;
  }
  .item input{
 opacity: 50%;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #D7D7D7;
   height: 25px;
   width: 100%;
  }
  .btn{
    padding-top: 29px;
  }
  .btn a{
    color: white;
  }
  .btn button{
    background-color: #B18F04;
    border: none;
    border-radius: 5px;
    padding: 3px;
    width: 30px;
    height: 30px;
  
  }
  .create button{
    background-color: #665308;
    color: white;
    border-radius: 5px;
    border: none;
  }
  .skip{
    display: flex;
    align-items: center;
    gap: 26px;
  }
.pages{
    background-color: #F5F5F5;
    /* width: 166px; */
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    /* height: 47px; */
    margin-bottom: 6px;
    gap: 12px;
}
.num span{
    opacity: 50%;
}
.num p{
    color: black;
    font-weight: 500;
    font-size: 12px;
}
.msexcel{
    width: 25px;
    height: 25px;
  }
.msexcel img{
  width: 100%;
}
.skip{
    position: relative;
}
.back button{
    border: none;
    background-color: white;
    position: absolute;
    top: 35px;
    left: -2px;
  }
  .forward button{
    border: none;
    background-color: #B18F04;
    position: absolute;
    color: white;
    border-radius: 5px;
    padding: 3px;
    width: 30px;
    height: 30px;
    top: 28px;
    }
   .tableinfo {
    font-size: 12px;

   }
   #td{
    font-weight: 500;
   }
   #projecthead{
    text-align: center;
   }

@media(min-width:320px) and (max-width:700px){
  
#bold{
  margin-top: unset;
  font-size: 19px;
}
.top{
  padding-top: 59px;
}
.back button{
  top: 30px;
  left:8px ;
}

.options{
  width: 135px;
}

.skip{
  gap: 20px;
}

.tableinfo{
  overflow: scroll;
}

.table td img{
  width: 17px;
    height: 19px;
}

}


  