<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <header>
              
            <div class="top">
                <div class="reports">
                    <div class="back">
                        <button (click)="back('projectaccess')"><mat-icon>arrow_back</mat-icon></button>
                     </div>
                    <p id="bold">Project Acess</p>
                    <p id="thin">Project Access</p>
                </div>
                <div class="options">
                    <div class="lens">
                      <img src="/assets/image/search.svg" alt="">
                    </div>
                    <div class="notify">
                      <img src="/assets/image/bell.svg" alt="">
                    </div>
                    <div class="logo">
                      <img src="/assets/image/Frame 94.png" alt="">
                    </div>
                    <div class="logout">
      
                      <a href="#">Logout</a>
                    </div>
      
                  </div>
            </div>

            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="skip">
                <div class="pages">
                  <div class="num">
                    <p> <span>Project Code</span></p>
                    <p>10101010</p>
                  </div>
                  <div class="num">
                    <p> <span>Project Company</span></p>
                    <p>Indian Oil</p>
                  </div>
          </div>
          <div class="msexcel">
            <img src="assets/image/excel.jpg" alt="">
          </div>
          <div class="forward">
            <button (click)="forward('projectaccesstwo')"><mat-icon>arrow_forward</mat-icon></button>
        </div>
              </div> 
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="tableinfo">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Sno</th>
                      <th scope="col">Project Master</th>
                      <th scope="col">Project Activity</th>
                      <th scope="col">Personnel</th>
                      <th id="projecthead" scope="col" colspan="3">Project Team</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td id="td">Employee Code</td>
                      <td id="td">Designation</td>
                      <td id="td">Contact Number</td>
                     
                      <td>
               
                        <img src="assets/image/edit.png" alt="">
                      <img src="assets/image/delete.png" alt="">
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                      
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                     
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                       
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                     
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                    <tr>
                      <th scope="row">6</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                      
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                    <tr>
                      <th scope="row">7</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                      
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                    <tr>
                      <th scope="row">8</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                       
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                    <tr>
                      <th scope="row">9</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                      
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                    <tr>
                      <th scope="row">10</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                       
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                    <tr>
                      <th scope="row">11</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                  
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                    <tr>
                      <th scope="row">12</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                          <img src="assets/image/edit.png" alt="">
                          <img src="assets/image/delete.png" alt="">
        
                      </td>
                   
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
    </div>
</div>
