.d-flex{
    justify-content: right;
    
}
/* #pick{
    background-color: #d7d7d7;
    border-radius: 5px;
    padding: 10px;
} */
.pagination{
    margin: 0 !important;
    padding: 0;

}
.page-link a{
    background-color: #d7d7d7 !important;
}
.page-link a:hover{
    background-color: #665308 !important;
    color: white;
}