<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <header>
        <div class="top">
            <div class="arrow">
                <!-- <img src="assets/image/arrow-left.png" alt=""> -->
                <button (click)="back('project-master')"><mat-icon>arrow_back</mat-icon></button>
            </div>
            <div class="reports">
                <p id="bold">Project Master Create</p>
                <p id="thin">Project Master / Create</p>
            </div>
          
        </div>
        </header>
    </div>

</div>
<div class="row">
    <div class="col">
        <div class="item">
            <p>Project Company <span>*</span></p>
            <select name="" id="">
              <option value="">Project Company</option>
            </select>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
<div class="box">
    <div class="add">
        <p>Project Activity <span>*</span></p>
        <div class="add-item">
          <input type="text">
       <button>+</button>
        </div>
    </div>
    <div class="line"></div>
    <div class="delete">
        <p>Project Activity 1</p>
        <img src="assets/image/Deletebtn.png" alt="">
    </div>
</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            
        </div>
    </div>
