<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          
            <div class="top">
                <div class="reports">
                    <div class="back">
                        <button (click)="back('projectcode')"><mat-icon>arrow_back</mat-icon></button>
                    </div>
                    <p id="bold">Project Code</p>
                    <p id="thin">Project Code / Create</p>
                </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="item">
              <p>Project Code<span>*</span></p>
              <select name="" id="">
                <option value="">Project Code</option>
              </select>
            </div>
            </div> 
    <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="item">
    <p>Project Company <span>*</span></p>
    <select name="" id="">
    <option value="">Project Company</option>
    </select>
    </div>
    </div>
          
    <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="item" id="date">
          <p>Period <span>*</span></p>
          <div class="start">
            <input type="date" placeholder="16-Dec-2021" name="" id="">
            <div class="div">-</div>
            <input type="date" placeholder="16-Dec-2021" name="" id="">
          </div>
        </div>
      </div>
         <div class="col-sm-12 col-md-6 col-lg-2">
          <div class="item">
            <p>Chainage <span>*</span></p>
          <input type="text" placeholder="">
          </div>
         </div>
       
    </div>
    <div class="projectcodebox">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
         <div class="master">
             <p>Project Master <span>*</span> </p>
             <select name="" id="">
                 <option value="">Tunneling</option>
             </select>
         </div>
         <div class="tunneling">
             <p>Project Master <span>*</span> </p>
             <div class="selecttunnel">
                 <p>Tunnelling</p>
                 <img src="assets/image/Deletebtn.png" alt="">
             </div>
         </div>
         
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
             <div class="addpro">
                 <button>Add Project Master</button>
             </div>
             <div class="activity">
                 <p>Project Activity</p>
                 <div class="selectactivity">
                     <select name="" id="">
                         <option value="">Project Activity 2</option>
                      </select>
                      <button>+</button>
                 </div>
                 <div class="deleteactivity">
                     <p>Project Activity 1</p>
                     <img src="assets/image/Deletebtn.png" alt="">
                 </div>
             </div>
            </div>
            <div class="split"></div>
            <div class="col-sm-12 col-md-12 col-lg-6">
             <div class="master">
                 <p>Project Master <span>*</span> </p>
                 <select name="" id="">
                     <option value="">Tunneling</option>
                 </select>
             </div>
             <div class="tunneling">
                 <p>Project Master <span>*</span> </p>
                 <div class="selecttunnel">
                     <p>Tunnelling</p>
                     <img src="assets/image/Deletebtn.png" alt="">
                 </div>
             </div>
             
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                 <!-- <div class="addpro">
                     <button>Add Project Master</button>
                 </div> -->
                 <div class="activity">
                     <p>Project Activity</p>
                     <div class="selectactivity">
                         <select name="" id="">
                             <option value="">Project Activity 2</option>
                          </select>
                          <button>+</button>
                     </div>
                     <div class="deleteactivity">
                         <p>Project Activity 1</p>
                         <img src="assets/image/Deletebtn.png" alt="">
                     </div>
                 </div>
                </div>
         </div>
    </div>
    <div class="locationbox">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="location">
        <p>Location <span>*</span> </p>
    </div>
    <div class="locationopt">
        <input type="text" placeholder="choose">
        <a href="#">Select Multiple</a>
        <div class="add">
            <button>+</button>
        </div>
    </div>
    <div class="locationdelete">
        <p>location 1</p>
        <img src="assets/image/Deletebtn.png" alt="Deletebtn">
    </div>
            </div>
        </div>
    </div>
    <div class="createbtn">
        <button>Create</button>
    </div>
</div>