<!-- <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
  <option [ngValue]="10">10 items per page</option>
  <option [ngValue]="25">25 items per page</option>
  <option [ngValue]="50">50 items per page</option>
</select> -->
<div class="d-flex p-2">
	<ngb-pagination id="pick"
		[collectionSize]="collectionSize"
		[(page)]="page"
		[pageSize]="pageSize"
		(pageChange)="refreshCountries()"
	>
	</ngb-pagination>


</div>
<table class="table table-bordered">
	<thead>
		<tr>
			<th scope="col">Sno</th>
			<th scope="col">Date</th>
			<th scope="col">Description</th>
			<th scope="col">Qty</th>
      <th scope="col">Price</th>
      <th scope="col" colspan="2">Status in %</th>
		</tr>
    <tr>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th>Qty</th>
<th>Price</th>
    </tr>
	</thead>
	<tbody>
		<tr *ngFor="let country of countries">
			<th scope="row">{{ country.id }}</th>
			<td>{{ country.consumable }}</td>
			<td>{{ country.specifiction}}</td>
			<td>{{ country.qty}}</td>
      <td></td>
    <td></td>
    <td></td>
    </tr>
	</tbody>
</table>

