<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <header>
            <div class="top">
                <div class="reports">
                    <p id="bold">Safety Tools Reports</p>
                    <p id="thin"> Reports /Safety Tools Reports</p>
                </div>
                <div class="options">
                    <div class="lens">
                      <img src="/assets/image/search.svg" alt="">
                    </div>
                    <div class="notify">
                      <img src="/assets/image/bell.svg" alt="">
                    </div>
                    <div class="logo">
                      <img src="/assets/image/Frame 94.png" alt="">
                    </div>
                    <div class="logout">
      
                      <a href="#">Logout</a>
                    </div>
      
                  </div>
            </div>
            </header>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div class="item" id="date">
          <p>Date <span>*</span></p>
         <div class="start">
          <input type="date" placeholder="16-Dec-2021" name="" id="">
          <div class="div">-</div>
          <input type="date" placeholder="16-Dec-2021" name="" id="">
         </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div class="item">
          <p>Project Company <span>*</span></p>
          <select name="" id="">
            <option value="">Project Company</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div class="item">
          <p>Project Code<span>*</span></p>
          <select name="" id="">
            <option value="">Project Code</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div class="item">
          <p>Chainage <span>*</span></p>
          <select name="" id="">
            <option value="">Chainage </option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div class="item">
          <p>Acitivity<span>*</span></p>
          <select name="" id="">
            <option value="">Activity</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <div class="btn">
          <button><a href="#"><mat-icon>arrow_forward</mat-icon></a></button>
          <div class="msexcel">
            <img src="assets/image/excel.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
   
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12" >
        <app-safety-table></app-safety-table>
      </div>
    </div>
    <div class="row">
      <div class="col">
       <!-- <div class="arrow">
     <div class="arrows">
      <a href="#"><mat-icon>keyboard_arrow_left</mat-icon></a>
      <a href="#"><mat-icon>keyboard_arrow_right</mat-icon></a>
     </div>
       </div> -->
      </div>
    </div>
</div> 






