
<div class="container-fluid">
    . <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <header>
              
            <div class="top">
                <div class="reports">
                    <div class="back">
                        <button (click)="back('projectaccesstwo')"><mat-icon>arrow_back</mat-icon></button>
                     </div>
                    <p id="bold">Project Access</p>
                    <p id="thin">Project Access / Create</p>
                </div>
            
            </div>

            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3">
<div class="projectcode">
    <p>Project Code <span>*</span> </p>
   <select name="" id="">
    <option value="">Project Code</option>
   </select>
</div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="projectcode">
                <p>Project Master <span>*</span> </p>
               <select name="" id="">
                <option value="">Project Master</option>
               </select>
            </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <div class="projectcode">
                            <p>Project Activity <span>*</span> </p>
                           <select name="" id="">
                            <option value="">Project Activity</option>
                           </select>
                        </div>
                                </div>
    </div>
    <div class="row" id="projectcreateaccess">
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="item">
                <p>Personnel <span>*</span> </p>
                <input type="text">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="item">
                <p>Employee code</p>
                <input type="text">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="item">
                <p>Designation</p>
                <input type="text">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="item">
                <p>Contact number</p>
                <input type="text">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="item">
                <p>Access</p>
               <select name="" id="">
                <option value="">Engineer</option>
               </select>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="item">
                <p>Access</p>
               <select name="" id="daily">
                <option  value="">Daily Operation Data</option>
               </select>
            <button id="add">+</button>
            </div>
        </div>
        <div class="line"></div>
        <div class="row">
            <div class="col-md-3 col-lg-2">
                <div class="lorem">
                    <p id="dim">Personnel</p>
                    <p>Lorem</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="lorem">
                    <p id="dim">Employee Code</p>
                    <p>Lorem</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="lorem">
                    <p id="dim">Designation</p>
                    <p>Lorem</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="lorem">
                    <p id="dim">Contact number</p>
                    <p>Lorem</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="lorem">
                    <p id="dim">Access</p>
                    <p>Engineer</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="lorem">
                    <p id="dim">Access</p>
                    <p>Daily Operation Data</p>
                    <img src="assets/image/Deletebtn.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
