<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          
            <div class="top">
                <div class="reports">
                    <div class="back">
                        <button (click)="back('projectteamtwo')"><mat-icon>arrow_back</mat-icon></button>
                    </div>
                    <p id="bold">Project Team</p>
                    <p id="thin">Project Team / Create</p>
                </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="item">
              <p>Project Code<span>*</span></p>
              <select name="" id="">
                <option value="">Project Code</option>
              </select>
            </div>
            </div> 
    <div class="col-sm-12 col-md-6 col-lg-2">
    <div class="item">
    <p>Project Company <span>*</span></p>
    <select name="" id="">
    <option value="">Project Company</option>
    </select>
    </div>
    </div>
       
    </div>
    <div class="box">
        <div class="row" id="nameopt">
            <div class="col-sm-12 col-md-6 col-lg-3">
            <p id="head">Project Team</p>  
            <div class="item">
                <p>Name <span>*</span> </p>
                <input type="text">
            </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3"> 
                <div class="item">
                    <p>Employee Code<span>*</span> </p>
                    <input type="text">
                </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                
                    <div class="item">
                        <p>Designation</p>
                        <input type="text">
                    </div>
              
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-2">
                        <div class="add">
                            <button>+</button>
                        </div>
                    </div>
                   
        </div>
        <div class="line"></div>
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">  
            <div class="item">
                <p id="dim">Name <span>*</span> </p>
               <p id='lorem'>lorem</p>
            </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3"> 
                <div class="item">
                    <p id="dim">Employee Code<span>*</span> </p>
                    <p id='lorem'>lorem</p>
                </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                
                    <div class="item">
                        <p id="dim">Designation</p>
                        <p id='lorem'>lorem</p>
                    </div>
                    <div class="delete">
                        <img src="assets/image/Deletebtn.png" alt="">
                    </div>
                    </div>
        </div>
    </div>
</div>
