<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <header>
            <div class="top">
                <div class="reports">
                    <p id="bold">Project Master</p>
                    <p id="thin">Project Master</p>
                </div>
                <div class="options">
                    <div class="lens">
                      <img src="/assets/image/search.svg" alt="">
                    </div>
                    <div class="notify">
                      <img src="/assets/image/bell.svg" alt="">
                    </div>
                    <div class="logo">
                      <img src="/assets/image/Frame 94.png" alt="">
                    </div>
                    <div class="logout">
      
                      <a href="#">Logout</a>
                    </div>
      
                  </div>
            </div>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-md-10 col-lg-10">
            <div class="item">
              <p>Project Company <span>*</span></p>
              <select name="" id="">
                <option value="">PipeLine</option>
              </select>
            </div>
          </div>
        <div class="col-sm-4 col-md-2 col-lg-2">
            <div class="btn">
                <button (click)="projectCreate('project-master-create')">Create</button>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" >
      <div class="tableinfo">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Sno</th>
              <th scope="col">Activity</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Route Survey</td>
              <td><img src="assets/image/edit.png" alt="">
              <img src="assets/image/delete.png" alt="">
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Clearing & Grading</td>
              <td>
                  <img src="assets/image/edit.png" alt="">
                  <img src="assets/image/delete.png" alt="">

              </td>
           
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Trenching</td>
              <td>
                  <img src="assets/image/edit.png" alt="">
                  <img src="assets/image/delete.png" alt="">

              </td>
           
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Back Filling & Restoration</td>
              <td>
                  <img src="assets/image/edit.png" alt="">
                  <img src="assets/image/delete.png" alt="">

              </td>
           
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Markers</td>
              <td>
                  <img src="assets/image/edit.png" alt="">
                  <img src="assets/image/delete.png" alt="">

              </td>
           
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Shifting of pipes from storage yard</td>
              <td>
                  <img src="assets/image/edit.png" alt="">
                  <img src="assets/image/delete.png" alt="">

              </td>
           
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>Stringing</td>
              <td>
                  <img src="assets/image/edit.png" alt="">
                  <img src="assets/image/delete.png" alt="">

              </td>
           
            </tr>
            <tr>
              <th scope="row">8</th>
              <td>Bending</td>
              <td>
                  <img src="assets/image/edit.png" alt="">
                  <img src="assets/image/delete.png" alt="">

              </td>
           
            </tr>
            <tr>
              <th scope="row">9</th>
              <td>Pipeline</td>
              <td>
                  <img src="assets/image/edit.png" alt="">
                  <img src="assets/image/delete.png" alt="">

              </td>
           
            </tr>
            <tr>
              <th scope="row">10</th>
              <td>Fitup & Mainline Welding</td>
              <td>
                  <img src="assets/image/edit.png" alt="">
                  <img src="assets/image/delete.png" alt="">

              </td>
           
            </tr>
            <tr>
              <th scope="row">11</th>
              <td>Tie-in Welding & Crossings</td>
              <td>
                  <img src="assets/image/edit.png" alt="">
                  <img src="assets/image/delete.png" alt="">

              </td>
           
            </tr>
            <tr>
              <th scope="row">12</th>
              <td>Joint Coating & Lowering</td>
              <td>
                  <img src="assets/image/edit.png" alt="">
                  <img src="assets/image/delete.png" alt="">

              </td>
           
            </tr>
          </tbody>
        </table>
      </div>
        </div>
    </div>
</div>